* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    font-family: 'Arial', sans-serif;

    background: url('./images/background.jpg');
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 15px;
    padding: 20px;

    background: linear-gradient(135deg, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0));
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.6);
}

.caixa-maior {
    border-radius: 30px;

    width: 95%;
    max-width: 650px;
    margin: 20px;
    padding: 15px 30px;

    background: linear-gradient(135deg, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0));
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    box-shadow: 20px 20px 40px 0 rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.6);

}

.input-cidade {
    color: #fff;
    background-color: rgba(100, 100, 100, 0.2);

    border: none;
    outline: none;

    font-size: 20px;
    width: 400px;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}

.input-cidade:hover{
    background-color: rgba(100, 100, 100, 0.5);
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.input-cidade:focus{
    background-color: rgba(100, 100, 100, 1);
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.botao-busca {
    cursor: pointer;
    border: none;
    outline: none;
    float: right;

    opacity: 1;

    margin: 10px;
    border-radius: 15px;
}

button:hover {
    opacity: 0.8;

    transform: scale(1.2);
    transition: all 0.3s ease;
}

.img-busca {
    height: 50px;
    width: auto;

}

.caixa-media{
    margin-top: 30px;
}

.cidade{
    font-size: 32px;
    font-weight: 300;
}

.temp{
    font-size: 20px;
    margin-top: 20px;
}

.caixa-menor{
    display: flex;
    align-items: center;

    margin-top: 20px;
}

.texto-previsao{
    margin-left: 40px;
    font-size: 30px;
    /*line-height: 50px;*/
    
    text-transform: capitalize;
}

.img-previsao{
    height: 50px;
    width: auto;
}

.umidade{
    margin-top: 30px;
}

footer {
    padding: 10px;
    text-align: center;
}